{% extends "layout.html" %}
{% block content %}
    
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Energy Dashboard</h1>
                <p>Preferred Temperature: {{ preferred  }}</p>
                <p>Current Temperature: {{  current  }}</p>

                <form method="post" action="{{ url_for('updateTemp') }}">
                    <p><label>Preferred:</label> <input type="number" name="preferred" required></p>
                    <p><button type="submit">Update</button></p>
                </form>

                <h3>Light Switch</h3>
                 <form>
  				<input type="checkbox" name="light1" value="Kichen"> Kichen<br>
  				<input type="checkbox" name="light2" value="Livingroom"> Livingroom<br>
  				<input type="checkbox" name="light3" value="Bedroom"> Bedroom<br>
				<input type="checkbox" name="light4" value="Bathroom"> Bathroom<br> </form>

            </div>
        </div>
    </div>
{% endblock %}